<!-- Contenu du mail qui sera envoyé pour la suppression du compte (en réalité classé en inactif) -->

<h1>Bonjour, votre compte a bien été supprimé</h1>

<p>
    Nous vous invitons à contacter notre service client pour répondre à vos questions ou si vous changez d'avis.
</p>

