{% extends 'base.html.twig' %}

{% block title %}Erreur - Paiement Refusée{% endblock %}

{% block body %}

    <h2>Votre paiement n'a pas abouti, une erreur est survenu lors du réglement de la commande</h2>
{% endblock %}