<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <!-- Bootstrap -->
        <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="./assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <!-- Main Css -->
        <link href="/assets-secu/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="/assets-secu/css/colors/default.css" rel="stylesheet" id="color-opt">
        <script src="/assets-secu/js/bootstrap.bundle.min.js"></script>
        <!-- Icons -->
        <script src="/assets-secu/js/feather.min.js"></script>
        <!-- Main Js -->
        <script src="/assets-secu/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="/assets-secu/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- javascript -->
        
    </body>
</html>
        

        
